/* Layout of the sticky footer */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex-basis: auto;
  flex: 1 0 auto;
}

footer {
  flex: none;
}

.navbar-nav{
    flex-direction: row-reverse;
}

.col a{
    color: inherit;
}

.python{
    color: darkred;
}

.java{
    color:darkblue ;
}

.java .single-log{
    background-color: lightblue;
}

.single-log{
    height: 50px;
    border: 3px solid;
    border-radius: 5px;
}