<div class="modal fade" id="NewLog" tabindex="-1" aria-labelledby="NewLogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="new/{{ dev_id }}" method=post>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="NewLogLabel">New log</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="form-label" for="work_date">Date:</label>
                        <input class="form-control" type="date" id="work_date" name="work_date" value="{{ log.work_date }}" required>
                    </div>
                    <div>
                        <label class="form-label" for="lang">What language?</label>
                        <select class="form-select" id="lang" name="lang">
                            {% for lang in langs %}
                                <option value="{{ lang }}"
                                        {% if log.lang == lang %}selected{% else %}{% endif %}>{{ lang }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="duration">Duration (min):</label>
                            <input class="form-control" type="number" id="duration" name="duration" min="1" max="1440"
                                   value="{{ log.duration }}"
                                   required>
                        </div>
                        <div class="col">
                            <label class="form-label" for="rating">Rating (between 1 and 5):</label>
                            <input class="form-control" type="number" id="rating" name="rating" min="1" max="5"
                                   value="{{ log.rating }}"
                                   required>
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="note">Note:</label>
                        <input class="form-control" type="text" id="note" name="note" value="{{ log.note }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-dark" value="Create log">
                </div>
            </form>
        </div>
    </div>
</div>