{#
<div class="col g-3 {{ log.lang_css() }}">
    <div class="single-log"><a href="/list/{{ log.log_id }}">{{ log.work_date }} Language: {{ log.lang }}</a></div>
</div>#}

<div class="col">
    <div class="card">
        <div class="card-body" id="myGroup">                                                        {# TODO change id to date variable #}
            <h5 class="card-title">12.2.</h5>                                                       {# TODO change the inside of h2 to variable #}
            {# TODO here start the log loop #}
            <button class="btn btn-info w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"                                                {# TODO change data-bs-target to log_id variable #}
                    aria-expanded="false" aria-controls="collapseExample">                           {# TODO change aria-controls to log_id variable #}
                <div class="row">
                    <div class="col text-start">Python</div>                                         {# TODO change to lang variable #}
                    <div class="col text-end">69 min</div>                                           {# TODO change to duration variable #}
                </div>
            </button>
            <div class="collapse" id="collapseExample" data-bs-parent="#myGroup">                     {# TODO change data-bs-parent to log_id variable #}
                <div class="card card-body">                                                           {# TODO other log info #}
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
            {# TODO here end the log loop #}
        </div>
    </div>
</div>

