{#
<div class="col g-3 {{ log.lang_css() }}">
    <div class="single-log"><a href="/list/{{ log.log_id }}">{{ log.work_date }} Language: {{ log.lang }}</a></div>
</div>#}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">12.2.</h5>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Button with data-bs-target
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when
                the user activates the relevant trigger.
            </div>
        </div>
    </div>
</div>