<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col text-start text-warning">
                {% for i in range(1, 6) %}
                    {% if i<= log.rating %}<i class="bi bi-star-fill fs-5"></i>
                    {% else %}<i class="bi bi-star fs-5"></i>{% endif %}
                {% endfor %}
            </div>
            <div class="col text-end">
                <span data-bs-toggle="modal" data-bs-target="#Deletelog" data-bs-target="modal">
                <a class="btn btn-outline-danger" role="button"
                   style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;"
                   data-bs-title="Delete log"
                   data-bs-toggle="tooltip" type="button"
                   data-bs-html="true"
                   data-bs-delay="{&quot;show&quot;: 400, &quot;hide&quot;: 200}" data-bs-placement="bottom"><i
                        class="bi bi-trash3-fill"></i></a></span>
                <div class="modal fade" id="Deletelog" tabindex="-1" aria-labelledby="DeleteLogLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="DeleteLogLabel">Delete log</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <a class="btn btn-danger text-center" href="delete_log/{{ log.log_id }}">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-outline-primary ms-1" href="/edit_log/{{ log.log_id }}"
                   style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;" data-bs-toggle="tooltip"
                   title="Edit" data-bs-delay="{&quot;show&quot;: 400, &quot;hide&quot;: 200}"
                   data-bs-placement="bottom"><i
                        class="bi bi-pencil-square"></i></a>
            </div>
        </div>
    </div>
    {% if log.note != '' %}
        <div class="card-body">
            <div class="text-start">
                {{ log.note }}
            </div>
        </div>
    {% endif %}
</div>
<!--
<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-toggle="tooltip" data-bs-trigger="focus"
   data-bs-title="Dismissible popover" data-bs-html="true" data-bs-content="<a href=&quot;delete_log/{{ log.log_id }}&quot;>Confirm</a>">Dismissible
    popover</a> -->