<div class="modal fade" id="NewUser" tabindex="-1" aria-labelledby="NewUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/new_user" method=post>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="NewUserLabel">New User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="fname">First name:</label>
                            <input class="form-control" type="text" id="fname" name="fname" required>
                        </div>
                        <div class="col">
                            <label class="form-label" for="lname">Last name:</label>
                            <input class="form-control" type="text" id="lname" name="lname" required>
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label class="form-label" for="mail">E-mail:</label>
                        <input class="form-control" type="text" id="mail" name="mail" required>
                    </div>

                    <div>
                        <label class="form-label" for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                    <div class="form-check form-switch mt-2">
                        <label class="form-check-label" for="admin">Admin</label>
                        <input class="form-check-input" type="checkbox" role="switch"
                               id="admin" name="admin">
                    </div>
                </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-dark" value="Create User">
        </div>
        </form>
    </div>
</div>
</div>