<!DOCTYPE html>
<html lang="cs">
<head>
    {% include '_head.html' %}
</head>
<body>
<header>{% include '_header.html' %}</header>
<section class="section content">
    <div class="container mt-3">
        <h1>About</h1>
    <p>Our app is a simple web application for tracking language learning progress. Users can create an account, log in, and then log their language learning sessions. They can view their past logs and see their progress over time.</p>
    <h2>Requirements for importing logs</h2>
    <p>To import logs, users need to provide a CSV file with the following columns:</p>
    <ul>
      <li>Date (format: DD.MM.YYYY)</li>
      <li>Duration (in minutes)</li>
      <li>Language (one of the following: Python, Java, C++, Pascal, HTML:o), JavaScript, MyNewLanguage)</li>
      <li>Rating (a number from 1 to 5)</li>
      <li>Notes (optional)</li>
    </ul>
    <p>Here's an example CSV file that you can download and use as a template:</p>
    <p><a href="/static/example.csv" download>Download Example CSV File</a></p>
    <p>Please note that any invalid or missing data will cause the import to fail.</p>
    <h2>Supported languages</h2>
    <p>Our app currently supports the following languages:</p>
    <ul>
      <li>Python</li>
      <li>Java</li>
      <li>C++</li>
      <li>Pascal</li>
      <li>HTML</li>
      <li>JavaScript</li>
    </ul>
    </div>
</section>
<footer class="text-center text-white">{% include '_footer.html' %}</footer>
{% include '_scripts.html' %}
</body>
</html>
