<!DOCTYPE html>
<html lang="cs">
<head>
    {% include '_head.html' %}
</head>
<body>
<header>{% include '_header.html' %}</header>
<section class="section content">
    <div class="container">
        <div class="card mt-4">
            <form action="/edit/{{ log.id }}" method=post>
                <div class="card-header">
                    <h1 class="card-title fs-5" id="NewLogLabel">Edit log</h1>
                </div>
                <div class="card-body">
                    <div>
                        <label class="form-label" for="work_date">Date:</label>
                        <input class="form-control" type="date" id="work_date" name="work_date"
                               value="{{ log.work_date }}" max="3000-12-31" required>
                    </div>
                    <div>
                        <label class="form-label" for="lang">What language?</label>
                        <select class="form-select" id="lang" name="lang">
                            {% for lang in langs %}
                                <option value="{{ lang }}"
                                        {% if log.lang == lang %}selected{% else %}{% endif %}>{{ lang }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="duration">Duration (min):</label>
                            <input class="form-control" type="number" id="duration" name="duration" min="1" max="1440"
                                   value="{{ log.duration }}"
                                   required>
                        </div>
                        <div class="col">
                            <label class="form-label" for="rating">Rating (between 1 and 5):</label>
                            <input class="form-control" type="number" id="rating" name="rating" min="1" max="5"
                                   value="{{ log.rating }}"
                                   required>
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="note">Note:</label>
                        <textarea class="form-control" type="text" id="note" name="note"
                                  maxlength="256" rows="2">{{ log.note }}</textarea>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a class="btn btn-secondary" href="/">Close</a>
                    <input type="submit" class="btn btn-dark" value="Save">
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="text-center text-white">{% include '_footer.html' %}</footer>
{% include '_scripts.html' %}
</body>
</html>