<!DOCTYPE html>
<html lang="cs">
<head>
    {% include '_head.html' %}
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid justify-center">
            <a class="navbar-brand mb-0 h1" href="/">DevLog</a>
        </div>
    </nav>
</header>
<section class="section content">
        <div aria-live="polite" aria-atomic="true" class="d-flex text-center justify-content-center align-items-center h-100">
            <p><h4>Oops... something went wrong. <a href="/">Go home...</a></h4></p>

        </div>
</section>
<footer class="text-center text-white">{% include '_footer.html' %}</footer>
{% include '_scripts.html' %}
</body>
</html>